input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.app{
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}
.ant-row{
  margin: 10px auto;
}
button{
  margin-top: 10px !important;
}

.ant-input:required:focus {
  border: 1px solid red !important;
  outline: none !important;
}
.none{
  display: none;
}
.block{
  display: block;
}